.delete_btn {
    outline: none;
    border: none;
    background: transparent;
}

.login_register_link {
    padding-left: 16px;
    padding-top: 17px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.login_register_link a {
    color: #702428;
}

.top-header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.single-main-right {
    height: 455px;
}

.single-main-right h3 {
    margin-top: 0;
}